<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark maroon" [containerInside]="false">
    <!-- Navbar brand -->
    <a class="navbar-brand" href="#">
        <img src="/assets/images/netflix.jpg" height="120" class="d-inline-block align-top" alt="mini_netflix logo">
    </a>
    <div class="row">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <button mdbBtn type="button" color="danger" rounded="true">Favorites</button>
            </li>

            &nbsp; &nbsp;
            <li class="nav-item pull-right">
                <input style="margin-top: 10px;" class="form-control" type="text" placeholder="Search"
                    [(ngModel)]="searchText">
            </li>
            <!-- <a class="nav-link" style="margin-top: 10px;">Search</a> -->
        </ul>
    </div>

</mdb-navbar>

<div class="row">
    <div class="col-md-4">
        <!--Card-->
        <mdb-card cascade="true" wider="true">

            <!-- Card image-->
            <div class="view view-cascade overlay waves-light" style="height: 250px;" mdbWavesEffect>
                <!-- <mdb-card-img [src]='item.imgUrl'>
                </mdb-card-img> -->
                <a>
                    <div class="mask rgba-black-slight"></div>
                </a>
            </div>
            <!--/Card image -->

            <mdb-card-body cascade="true" class="text-center">
                <!--Card content-->
                <!--Title-->
                <h4 class="card-title">
                    <strong></strong>
                </h4>
                <h5 class="indigo-text">
                    <!-- <strong>{{item.title}}</strong> -->
                </h5>

                <mdb-card-text>

                    <!-- <ul>
                        <li>
                            {{item.title}}
                        </li>
                        <li>
                            {{item.releaseDate}}
                        </li>
                        <li>
                            {{item.director}}
                        </li>
                    </ul> -->
                </mdb-card-text>

                <!-- <button mdbBtn type="button" color="danger" rounded="true" (click)="likeMovie(item)">like</button> -->

            </mdb-card-body>
            <!--/.Card content-->

        </mdb-card>
        <!--/.Card-->
    </div>
</div>